doctype html
html
  head
    title TheBab
    link(rel='stylesheet' href='/css/styles.css')
    link(rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
  body
    app
    script(src='/js/bundle.js')