@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i');
@import './fonts/ProximaNova.styl';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	font-family: 'ProximaNova', serif;
	width: 100vw;
	height: 100vh;
	// letter-spacing: 1px;
}

body {
  background: gradient0;
	overflow-x: hidden;
	color: color-dark0;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.2;
}

h1 {
	font-size: 3.9rem;
}

h2 {
	font-size: 3.2rem;
}

h3 {
	font-size: 2.5rem;
}

input {
	border: 0;
	outline: 0;
	box-sizing: border-box;
}

button {
	border: 0;
	outline: 0;
	cursor: pointer;
}

a, button, .link, .icon, i {
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}
