@font-face {
	font-family: "ProximaNova";
	src: url("../assets/fonts/ProximaNova-regular.woff") format("woff")
}

@font-face {
	font-family: "ProximaNova-bold";
	src: url("../assets/fonts/ProximaNova-bold.woff") format("woff")
}

@font-face {
	font-family: "ProximaNova-black";
	src: url("../assets/fonts/ProximaNova-black.woff") format("woff")
}

@font-face {
	font-family: "ProximaNova-semibold";
	src: url("../assets/fonts/ProximaNova-semibold.ttf");
}

@font-face {
	font-family: "ProximaNova-thin";
	src: url("../assets/fonts/ProximaNova-thin.woff") format("woff")
}

@font-face {
	font-family: "ProximaNova-condensed";
	src: url("../assets/fonts/ProximaNova-condensed.ttf") format("true-type")
}
