.Inspect {
  margin: 80px auto;
  width: 950px;
}

.description {
  text-indent: 25px;
  margin-top: 10px;
  font-size: 1.2em;
}

.tags {
  margin: 8px 0;
  margin-bottom: 15px;
}

hr{ 
  margin-bottom: 10px;
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}